html {
    font-size: var(--font-base);
    line-height: normal;

    @include mobile {
        font-size: 16px;
    }
}

body {
    @include font(400);
    color: var(--color-black);
}

html,
body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 101px);
    max-height: calc(100vh - 101px);
    overflow: hidden;
    

    @include mobile {
        min-height: calc(100vh - 43px);
        max-height: max-content;
    }

    &:not(.login) {
        background: var(--color-lightbg);
        padding: 16px 64px;
        grid-gap: 16px;

        @include mobile {
            padding: 12px;
            gap: 12px;

        }
    }

    &.tariffpage,
    &.camera-editpage {
        gap: 32px;
        max-height: max-content;
    }
}