.box {
    background: var(--color-white);
    border-radius: 32px;
    border: 1px solid var(--color-red);
    padding: 16px 32px;

    @include mobile {
        padding: 16px 24px;
    }

    &-center {
        text-align: center;
        .button {
            margin: 0px auto;
        }
    }
}