.cameras {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 16px 8px 16px 32px;
    flex-grow: 1;

    @include mobile {
        padding: 16px 24px;
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 32px 32px 0px;

        @include mobile {
            flex-wrap: wrap;
            gap: 16px;
            padding: 0px 0px 16px 0px;
        }

        .title {
            text-transform: uppercase;

            @include mobile {
                order: -1;
                flex: 0 0 100%;
                text-align: center;
            }
        }

        .button-blue,
        .cameras-view-buttons {
            flex: 0 0 300px;
        }

        @include mobile {
            .button-blue {
                flex: 0 0 60%;
            }
        }

        .cameras-view-buttons {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 16px;

            @include mobile {
                flex: 0 0 calc(40% - 16px);
            }

            button {
                img {
                    pointer-events: none;
                }
            }
        }
    }

    &-wrapper {
        overflow: auto;
        height: 100%;
        @include scrollbar();
        padding: 0px 24px 0px 0px;

        @include mobile {
            padding: 0;
        }
    }

    &-grid {
        display: grid;
        
        &__2 {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;

            @include mobile {
                grid-template-columns: repeat(1, 1fr);

                .camera {
                    aspect-ratio: 8 / 5;
                }
            }
        }

        &__3 {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 16px;

            @include mobile {
                grid-template-columns: repeat(1, 1fr);

                .camera {
                    aspect-ratio: 8 / 5;
                }
            }
        }

        &__5 {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 8px;

            @include mobile {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 8px 16px;

                .camera {
                    height: 85px;
                }
            }

            .camera {
                &-info {
                    padding: 3px;
                }
                &[data-status=error] {
                    &::after {
                        text-align: center;
                        transform: translate(-50%, calc(-50% - 15px));
                        white-space: pre-wrap;

                        @include mobile {
                            transform: translate(-50%, calc(-50% - 10px));
                        }
                    }
                }
            }
        }
    }

    &-table {
        width: 100%;

        thead {
            tr {
                td {
                    font-size: 20px;
                    padding: 10px 10px;
                    border-bottom: 1px solid var(--color-border);

                    @include mobile {
                        white-space: nowrap;
                        font-size: 16px;
                    }

                    &:first-child {
                        padding: 10px 10px 10px 0px;
                    }

                    &:last-child {
                        padding: 10px 0px 10px 10px;
                    }
                }

                // @include mobile {
                //     display: grid;
                //     grid-template-columns: repeat(2,);
                // }
            }
        }

        tbody {
            tr {
                td {
                    padding: 8px 10px;

                    @include mobile {
                        white-space: nowrap;
                        font-size: 14px;
                    }

                    .camera-edit {
                        flex: 0 0 16px;
                        position: relative;
                        display: inline-block;
                        right: 0;
                        top: 0;
                        transform: translate(0, 0);
                        margin-left: 60px;

                        @include mobile {
                            margin-left: 0;
                            flex: 0 0 14px;
                            width: 14px;
                            height: 14px;
                        }
                    }

                    &:first-child {
                        padding: 8px 10px 8px 0px;
                    }

                    &:last-child {
                        padding: 8px 0px 8px 10px;
                    }

                    &:first-child {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 16px;

                        &::before {
                            flex: 0 0 16px;
                            content: '';
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            border-radius: 50%;

                            @include mobile {
                                flex: 0 0 14px;
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }

                &[data-status="record"] {
                    td {
                        &:first-child {
                            &::before {
                                background: var(--color-green);
                            }
                        }
                    }
                }

                &[data-status="error"] {
                    td {
                        &:first-child {
                            &::before {
                                background: var(--color-red);
                            }
                        }
                    }
                }
            }
        }
    }
}

.camera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
    background: var(--color-dark);
    border: 1px solid var(--color-border);
    position: relative;

    &-info {
        width: 100%;
        background: var(--color-lightbg);
        padding: 22px;
        text-align: center;
        position: relative;
        border-radius: 0px 0px 20px 20px;

        @include mobile {
            padding: 10px;
        }
    }

    &-name {
        font-size: 20px;
        font-weight: 400;

        @include mobile {
            font-size: 14px;
        }
    }

    &-status {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 16px;
        height: 16px;
        border-radius: 50%;

        @include mobile {
            width: 6px;
            height: 6px;
            top: 12px;
            left: 12px;
        }
    }

    &-open {
        position: absolute;
        top: 24px;
        right: 24px;
        height: 16px;
        width: 16px;
        background: url('../img/icons/full-screen-icon.svg') no-repeat center;
        background-size: contain;

        @include mobile {
            width: 6px;
            height: 6px;
            top: 12px;
            right: 12px;
        }
    }

    &-edit {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translate(0, -50%);
        width: 16px;
        height: 16px;
        background: url('../img/icons/erid-arrow-icon.svg') no-repeat center;
        background-size: cover;

        @include mobile {
            width: 6px;
            height: 6px;
        }
    }

    &[data-status=record] {
        .camera-status {
            background: var(--color-green);
        }
    }
    &[data-status=error] {
        &::after {
            content: attr(data-message);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, calc(-50% - 34px));
            font-size: 20px;
            color: var(--color-red);
            text-transform: uppercase;
            white-space: nowrap;

            @include mobile {
                font-size: 12px;
            }
            
        }
        .camera {
            &-status {
                background: var(--color-red);
            }

            &-open {
                filter: brightness(0) saturate(100%) invert(48%) sepia(78%) saturate(437%) hue-rotate(308deg) brightness(99%) contrast(85%);
            }
        }
    }
}