.cameras {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 16px 8px 16px 32px;
    flex-grow: 1;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 32px 32px 0px;

        @include mobile {
            flex-wrap: wrap;
            gap: 16px;
        }

        .title {
            text-transform: uppercase;

            @include mobile {
                order: -1;
                flex: 0 0 100%;
                text-align: center;
            }
        }

        .button-blue,
        .cameras-view-buttons {
            flex: 0 0 300px;
        }

        @include mobile {
            .button-blue {
                flex: 0 0 60%;
            }
        }

        .cameras-view-buttons {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 16px;

            @include mobile {
                flex: 0 0 calc(40% - 16px);
            }

            button {
                img {
                    pointer-events: none;
                }
            }
        }
    }

    &-wrapper {
        overflow: auto;
        height: 100%;
        @include scrollbar();
        padding: 0px 24px 0px 0px;
    }

    &-grid {
        display: grid;
        
        &__2 {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 16px;
        }

        &__3 {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 16px;
        }

        &__5 {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 8px;

            .camera {
                &-info {
                    padding: 3px;
                }
                &[data-status=error] {
                    &::after {
                        text-align: center;
                        transform: translate(-50%, calc(-50% - 15px));
                        white-space: pre-wrap;
                    }
                }
            }
        }
    }

    &-table {
        width: 100%;

        thead {
            tr {
                td {
                    font-size: 20px;
                    padding: 10px 10px;
                    border-bottom: 1px solid var(--color-border);

                    &:first-child {
                        padding: 10px 10px 10px 0px;
                    }

                    &:last-child {
                        padding: 10px 0px 10px 10px;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 8px 10px;

                    &:first-child {
                        padding: 8px 10px 8px 0px;
                    }

                    &:last-child {
                        padding: 8px 0px 8px 10px;
                    }

                    &:first-child {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 16px;
                            width: 100%;

                            &::before,
                            &::after {
                                content: '';
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                            }

                            &::before {
                                border-radius: 50%;
                            }

                            &::after {
                                background: url('../img/icons/erid-arrow-icon.svg') no-repeat center;
                                background-size: contain;
                                margin-left: auto;
                            }
                        }
                    }
                }

                &.record {
                    td {
                        &:first-child {
                            a {
                                &::before {
                                    background: var(--color-green);
                                }
                            }
                        }
                    }
                }

                &.error {
                    td {
                        &:first-child {
                            a {
                                &::before {
                                    background: var(--color-red);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.camera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
    background: var(--color-dark);
    border: 1px solid var(--color-border);
    position: relative;

    &-info {
        width: 100%;
        background: var(--color-lightbg);
        padding: 22px;
        text-align: center;
        position: relative;
        border-radius: 0px 0px 20px 20px;

        @include mobile {
            padding: 10px;
        }
    }

    &-name {
        font-size: 20px;
        font-weight: 400;

        @include mobile {
            font-size: 14px;
        }
    }

    &-status {
        position: absolute;
        top: 24px;
        left: 24px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    &-open {
        position: absolute;
        top: 24px;
        right: 24px;
        height: 16px;
        width: 16px;
        background: url('../img/icons/full-screen-icon.svg') no-repeat center;
        background-size: contain;
    }

    &-edit {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translate(0, -50%);
        width: 16px;
        height: 16px;
        background: url('../img/icons/erid-arrow-icon.svg') no-repeat center;
        background-size: cover;
    }

    &[data-status=record] {
        .camera-status {
            background: var(--color-green);
        }
    }
    &[data-status=error] {
        &::after {
            content: attr(data-message);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, calc(-50% - 34px));
            font-size: 20px;
            color: var(--color-red);
            text-transform: uppercase;
            white-space: nowrap;
        }
        .camera {
            &-status {
                background: var(--color-red);
            }

            &-open {
                filter: brightness(0) saturate(100%) invert(48%) sepia(78%) saturate(437%) hue-rotate(308deg) brightness(99%) contrast(85%);
            }
        }
    }
}