.filters {
    width: 100%;
    height: auto;
    &-button {
        color: var(--color-gray);
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        max-width: max-content;

        @include listIcon();

        @include mobile {
            font-size: 18px;
        }
    }

    &.open {
        .filters {
            &-wrapper {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-wrapper {
        max-height: 0px;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px 96px;
        @include mobile {
            gap: 8px;
        }

        .input-wrapper,
        .buttons {
            flex: 0 0 calc((100% - (96px * 2)) / 3);

            @include mobile {
                flex: 0 0 100%;
            }
        }

        .buttons {
            margin-top: auto;
        }
    }
}