.hint {
    pointer-events: none;
    position: absolute;
    padding: 8px 16px;
    color: var(--color-white);
    background: var(--color-gray);
    font-size: 20px;
    white-space: nowrap;
    z-index: 5;
    display: none;
    border-radius: 12px;

    &.active {
        display: block;
    }
}