.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 8px;

    &.error {
        .input-item,
        .input-number {
            input[type=text],
            input[type=tel],
            input[type=email],
            input[type=number],
            textarea {
                border: 1px solid var(--color-red);
            }
        }
    }

    .input {
        &-label {
            font-weight: 300;

            @include mobile {
                overflow-wrap: break-word;
                word-break: break-all;
                white-space: pre-wrap;
            }

            .required {
                color: var(--color-redbright);
            }
        }

        &-item {
            width: 100%;

            input[type=text],
            input[type=tel],
            input[type=email],
            input[type=password],
            textarea {
                border-radius: 5px;
                border: 1px solid var(--color-border);
                padding: 10px 14px;
                line-height: 1;
                width: 100%;

                &::placeholder {
                    color: var(--color-gray);
                }

                &:focus {
                    outline: none;
                    border: 1px solid var(--color-black);
                }
                
            }

            textarea {
                resize: vertical;
                min-height: 96px;
                max-height: 300px;
            }

            &-drop {
                position: relative;

                @include listIcon();
                &::after {
                    position: absolute;
                    bottom: 50%;
                    right: 12px;
                    transform: translate(0, 50%);
                }

                input[type=text] {
                    padding-right: 30px;
                }
    
                .drop-list {
                    max-height: 112px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    overflow: auto;
                    @include scrollbar();

                    &-wrapper {
                        padding: 8px 8px 8px 16px;
                        background: #fff;
                        border-radius: 8px;
                        border: 1px solid var(--color-border);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transform: translate(0, calc(100% + 4px));
                        min-width: 100%;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 3;
                    }
                }

                .drop-item {
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    gap: 16px;
                    padding: 8px 0px;

                    &::before {
                        content: '';
                        width: 24px;
                        height: 24px;
                        border-radius: 4px;
                        display: inline-block;
                        border: 1px solid var(--color-gray);
                    }

                    &:hover {
                        background: var(--color-lightbg);
                    }

                    &.active {
                        &::before {
                            background: url('../img/icons/check-icon.svg') no-repeat center;
                            background-size: contain;
                        }
                    }
                }

                &.open {
                    &::after {
                        transform: translate(0, 50%) rotate(-180deg);
                    }
                    .drop-list-wrapper {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &.input-item-drop:not(.input-item-search) {
                cursor: pointer;
                
                input {
                    pointer-events: none;
                }
            }
        }
    }
}

.input-check {
    input[type=checkbox],
    input[type=radio] {
        display: none;
    }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 16px;
        text-align: left;

        @include mobile {
            gap: 8px;
        }

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            border: 1px solid var(--color-border);
            border-radius: 4px;
            display: inline-block;
        }
    }

    input[type=checkbox]:checked ~ label,
    input[type=radio]:checked ~ label {
        &::before {
            background: url('../img/icons/check-icon.svg') no-repeat center;
            background-size: contain;
        }
    }
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    width: 100%;

    @include mobile {
        align-items: start;
        justify-content: space-between;
    }

    .input-check {
        flex: 0 0 55%;
    }

    &:nth-child(2) {
        flex-grow: 1;
    }
}

.input-number {
    position: relative;
    max-width: max-content;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 16px;

        @include mobile {
            flex-direction: column;
            gap: 4px;
        }
    }

    &-text {
        color: var(--color-gray);
        white-space: nowrap;
    }

    input {
        pointer-events: none;
        color: var(--color-gray);
        text-align: center;
        width: 100px;
        border-radius: 5px;
        border: 1px solid var(--color-border);
        padding: 10px 14px;
        line-height: 1;
        

        &::placeholder {
            color: var(--color-gray);
        }

        &:focus {
            outline: none;
            border: 1px solid var(--color-black);
        }
    }

    &-button {
        position: absolute;
        top: 50%;
        background: url('../img/icons/list-icon.svg') no-repeat center;
        width: 16px;
        height: 16px;
    }

    &-prev {
        left: 8px;
        transform: translate(0, -50%) rotate(90deg);
    }

    &-next {
        right: 8px;
        transform: translate(0, -50%) rotate(-90deg);
    }
}

.input-password {
    &-show {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 12px;
        bottom: 50%;
        transform: translate(0, 50%);
        background-image: url('../img/icons/password-close-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &-close {
        background-image: url('../img/icons/password-open-icon.svg');
    }

    .input-item {
        position: relative;
    }
}