.login {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-rows: auto 48px;
    background: url('../img/loginpage-bg.png') no-repeat center left;
    background-size: cover;

    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 32px;
    }

    .copyright {
        max-height: max-content;
        padding: 9px 64px;
        font-size: 26px;
        font-weight: 300;
        grid-column-start: span 2;
        color: var(--color-white);
        background: var(--color-black);
        position: relative;
        z-index: 6;

        @include mobile {
            grid-column-start: 1;
            font-size: 16px;
            padding: 8px 24px;
        }
    }

    &-img {
        margin: auto;

        @include mobile {
           height: 100%;
        }
    }

    &-form {
        position: relative;
        background: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
        gap: 32px;
        padding: 60px calc((100% - 368px) / 2) 0px;
        text-align: center;

        &-center {
            align-items: center;
            justify-content: center;
            padding-top: 0;
        }
        
        @include mobile {
            gap: 16px;
            padding: 60px 32px;
        }

        .title, .desc {
            max-width: 300px;
            margin: 0px auto;
        }

        &-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 64px;

            @include mobile {
                gap: 16px;
            }
        }

        &-button {
            font-size: 26px;

            @include mobile {
                font-size: 18px;
                margin: 0px 0px 14px;
            }

            &.active {
                color: var(--color-gray);
                text-decoration: underline;
                text-decoration-color: var(--color-redbright);
                text-decoration-skip-ink: none;
                text-decoration-thickness: 2px;
                text-underline-offset: 4px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: start;
            gap: 32px;

            .button {
                margin: 0px auto;
            }

            @include mobile {
                gap: 16px;
            }
        }

        &-inputs {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 8px;
        }

        &-outside {

            .subtitle {
                margin: 0px auto 32px;

                @include mobile {
                    margin: 0px auto 14px;
                }
            }

            &-links {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 32px; 
                min-height: 50px;
                visibility: visible !important;
                opacity: 1 !important;
                overflow: hidden;
                max-width: calc((48px * 5) + (32px * 4));
                margin: 0px auto;
            }

            &-link {
                flex: 0 0 48px;
                width: 48px;
                height: 48px;
                border: 1px solid var(--color-border);
                border-radius: 8px;
                padding: 10px;
                display: inline-block;

                img {
                    height: 24px;
                    object-fit: contain;
                    object-position: center;
                }
            }

            .accordion {
                &-label {
                    &.login-form-outside-button {
                        margin: 8px auto 0px;
                        color: var(--color-blue);
                        font-size: 16px;

                        &::after {
                            width: 14px;
                            height: 14px;
                            filter: brightness(0) saturate(100%) invert(34%) sepia(69%) saturate(371%) hue-rotate(167deg) brightness(88%) contrast(89%);
                        }
                    }
                }

                &-content {
                    &.login-form-outside-links {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .popup-pincode {
        position: absolute;
    }
}