.pincode {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 8px;
    margin: 0px auto;

    input[type=number] {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 56px;
        border: 1px solid var(--color-border);
        border-radius: 8px;
        font-size: 40px;
        appearance: none;

        &:focus {
            outline: none;
        }
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.popup-pincode {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    padding: 0;

    &-body {
        text-align: center;
        background: var(--color-white);
        max-width: min(480px, 95%);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: start;
        gap: 32px;
        padding: 32px;
        opacity: 0;
        visibility: hidden;
        transform: translate(0,50px);
        transition: opacity .3s linear, transform .5s linear;

        @include mobile {
            // width: 95%;
            padding: 24px;
            gap: 16px;
        }
    }

    &.open {
        opacity: 1;
        visibility: visible;

        .popup-pincode-body {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
        }
    }
}