.profilepage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 32px;
    max-height: 100%;

    @include mobile {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    .field-error {
        margin: 16px 0px 0px;

        @include mobile {
            margin: 10px 0px 0px;
        }
    }

    .desc {
        font-size: 20px;

        @include mobile {
            font-size: 14px;
        }
    }

    .accordion.open {
        .accordion-label {
            margin: 0px 0px 32px;

            @include mobile {
                margin: 0px 0px 16px;
            }
        }
    }

    &-box {
        @include flexCol(16px);

        .title {
            text-align: center;
            padding: 0px 0px 16px;
            border-bottom: 1px solid var(--color-border)
        }

        .button {
            margin: 0px auto;
        }
    }

    &-col {
        @include flexCol(12px);
    }

    &-content {
        @include flexCol(32px);

        @include mobile {
            gap: 16px;
        }
    }

    &-info {
        font-weight: 300;

        &-title {
            color: var(--color-gray);
        }

        &-value {
            color: var(--color-black);
        }

        &-desc {
            font-size: 0.88rem;
            color: var(--color-blue);
        }

        &-error {
            .profilepage-info-value {
                color: var(--color-red);
            }
        }
    }

    &-verification {
        background: transparent;
        @include flexCol(32px);
        font-weight: 300;

        @include mobile {
            gap: 16px;
        }

        .title {
            text-align: center;
            font-weight: 300;
        }

        .button {
            margin: 0px auto;
        }

        .desc {
            font-size: 18px;
        }

        &__success {
            .title {
                color: var(--color-blue);
            }
        }

        &__error {
            .title {
                color: var(--color-red);
            }
        }
    }

    .box:has(.profilepage-table) {
        padding: 12px 8px 12px 32px;

        @include mobile {
            padding: 12px 24px 12px 24px;
        }
    }

    .profilepage-table {
        padding: 0px 20px 0px 0px;
        width: 100%;
        font-weight: 300;

        @include mobile {
            font-size: 14px;
        }

        thead, tbody tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        & > thead {
            td {
                padding: 16px 4px;
                border-bottom: 1px solid var(--color-border);

                @include tablet {
                    margin-top: auto;
                }

                .table-date {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: start;
                    gap: 8px;
                }
            }
        }
        & > tbody {
            display: block;
            height: 400px;
            @include scrollbar();
            overflow: auto;

            tr:not(:first-child, :last-child) {
                td {
                    padding: 8px 4px;
                }
            }
            tr:first-child {
                td {
                    padding: 16px 4px 8px;
                }
            }
            tr:last-child{
                td {
                    padding: 8px 4px 0px;
                }
            }
        }

        @include mobile {
            padding: 0;
        }

        &__payment {
            td:last-child {
                width: 50%;

                @include tablet {
                    width: 40%;
                }
            }
        }

    
        @include mobile {
            & > thead, & > tbody {
                & > tr {
                    display: grid;
                    align-items: center;
                    grid-gap: 10px 20px;
                    grid-template-columns: repeat(2, 1fr);
                    border-bottom: 1px solid var(--color-border);

                    td {
                        padding: 0px !important;
                    }
                }
            }

            & > thead {
                & > tr {
                    padding: 16px 0px;
                }
                td {
                    border: none;
                }
            }

            & > tbody {
                & >tr {
                    padding: 8px 0px;
                }
            }
        }

        &__payment {
            
            @include mobile {
                thead,tbody {
                    tr {
                        td:last-child {
                            width: 100%;
                        }
                    }
                }
            }

            td:first-child {
                grid-row-start: span 2
            }
        }
    }



    &-promotion {
        @include flexCol(16px);
    }
}