.title {
    font-size: 30px;
    font-weight: 400;

    @include mobile {
        font-size: 18px;
    }
}

.desc {
    font-weight: 300;
}

.for-payment {
    font-size: 26px;
    font-weight: 400;
    color: var(--color-black);

    @include mobile {
        font-size: 18px;
    }
}

.balance {
    font-size: 26px;
    font-weight: 400;
    color: var(--color-blue);

    @include mobile {
        font-size: 18px;
    }

    &-date {
        font-size: 0.88rem;
        color: var(--color-gray);
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 4px;

        .update {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url('../img/icons/update-icon.svg') no-repeat center;
            background-size: contain;
        }
    }

    &-top {
        .value {
            color: var(--color-blue);
        }
    }

    &-down {
        .value {
            color: var(--color-gray);
        }
    }
}