:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark: #3C4751;
    --color-blue: #3A6185;
    --color-light: #8AA5BE;
    --color-red: #E96D74;
    --color-redbright: #ED1C24;
    --color-gray: #5E5E5E;
    --color-lightbg: #F3F4F6;
    --color-border: #A59C9C;

    --font-base: 18px;
    --font-button: 16px;
}